<link rel="icon" href="https://fav.farm/🦄" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
<link rel="stylesheet" href="{{ '/assets/css/project-explorer.css' | relative_url }}" />
<script defer src="{{ '/assets/js/project-explorer.js' | relative_url }}" data-projects-url="{{ '/assets/awesome-django-projects.json' | relative_url }}"></script>
<script defer src="https://uma.cog.gs/script.js" data-website-id="744740f8-2ff1-4a59-9e0f-7740fc8ca3c4"></script>
